.cart-item-div {
    display: flex;
    width: 95%;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    padding-bottom: 3rem;
  }
  
  .cart-item-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--grey-secondary);
    padding: 10px 0;
  }
  
  .cart-item-details {
    width: 300px;
    font-size: 14px;
    color: var(--grey-secondary);
    font-weight: 600;
  }
  .cart-item-info-size {
    font-size: 14px;
    color: var(--grey-primary);
    font-weight: 600;
  }
  .cart-item-img img {
    width: 80px;
  }
  
  .cart-item-quantity,
  .cart-item-price,
  .cart-item-total {
    color: var(--grey-primary);
    font-weight: 600;
    font-size: 15px;
  }
  
  .cart-page-h3 {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
  }
  
  .cart-total-div {
    height: 150px;
    width: 450px;
    margin: auto;
    color: black;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cart-total-div button {
    margin-top: 10px;
    border: none;
    padding: 0.5rem 0.5em;
    color: black;
    background-color: var(--green-color);
    cursor: pointer;
    text-transform: uppercase;
  }
  .cart-total-div h4 {
    font-size: 1.25rem;
    color: black;
  }
  .cart-item-delete-btn {
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: black;
    background-color: white;
    cursor: pointer;
  }
  
  .cart-totat-buttons-div {
    display: flex;
    gap: 1rem;
  }
  cart-totat-buttons-clear {
    background-color: var(--red-secondary);
  }
 
  .cart-item-checkout-btn{
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: black;
    background-color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 575px) {
    .cart-item-details {
      width: 100px;
    }
    .cart-item-info-name {
      font-size: 12px;
    }
    .cart-page-h3{
      padding-top: 3rem;
    }
    .cart-item-delete-btn{
      margin-right: 0.5rem;
    }
  }