.single-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    max-width: 1000px;
    width: 95%;
    margin: 3rem auto;
    padding-top: 3rem;
  }
  
  .single-product-left {
    display: flex;
    flex-direction: column;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .image-grid img {
    width: 100px;
    cursor: pointer;
  }
  
  .single-product-main-image {
    margin-top: 15px;
  }
  
  .single-product-name h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--grey-primary);
    max-width: 500px;
  }
  .single-product-name p {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
    color: var(--grey-secondary);
  }
  
  hr {
    margin: 1.5rem 0;
    border-top: 1px solid var(--color-text-grey4);
  }
  
  .single-product-price h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--grey-primary);
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
  
  .single-product-size p {
    color: var(--grey-primary);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .single-product-size-btns {
    display: flex;
    /* gap: 1rem; */
    margin-bottom: 1.5rem;
  }
  
  .single-product-size-btns button {
    color: black;
    width: 40px;
    cursor: pointer;
    border: 2px solid var(--grey-secondary);
    background: #fff;
    padding: 2px 0;
    border-radius: 1rem;
    font-size: 15px;
    font-family: "Assistant", sans-serif;
  }
  
  .single-product-quantity {
    margin-bottom: 2rem;
  }
  .single-product-quantity label {
    color: var(--color-text-navbar);
    font-size: 15px;
  }
  
  .cart-wishlist-btns {
    display: flex;
  }
  
  .single-product-add-to-cart-btn {
    background-color: var(--color-red-secondary);
    color: #fff;
    font-weight: 700;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .single-product-add-to-cart-btn:hover {
    background-color: var(--color-red-primary);
  }
  
  .single-product-add-to-wishlist-btn {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0.5rem 2.3rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
    border: 1px solid var(--green-color);
    background-color: white;
  }
  
  .single-product-description-heading {
    color: var(--grey-primary);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .single-product-description p {
    font-size: 14px;
  }
 
  .single-product-bottom-div {
    display: flex;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    gap: 3rem;
  }
  
  .single-product-main-image img {
    width: 332px;
  }
  
  .single-product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    gap: 3rem;
  }
  
  .single-product-description {
    max-width: 500px;
  }

  @media only screen and (max-width: 575px) {
    .single-product-name h3 {
      font-size: 1.25rem;
    }
    .single-product-price h3 {
      font-size: 1rem;
    }
    .single-product-container {
      padding: 0 1.5rem;
      padding-top: 3rem;
    }
  }
  