.amount-style {
    font-weight: 700;
    color: var(--grey-primary);
    font-size: 1rem;
  }
  
  .amount-toggle {
    display: flex;
    gap: 1.5rem;
  }
  
  .amount-toggle button {
    background: transparent;
    border: none;
    outline: none;
    color: var(--grey-primary);
    cursor: pointer;
  }
  
  .addtocart-btn {
    padding: 0.5rem 3.25rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    margin-left: 0;
    background-color: black;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all ease 0.3s;
    text-align: start;
  }
  
  