.carousel img{
    height: 300px;
    width: 85%;
    margin-left: 7.5%;
}

.carousel{
    width: 100%;
    object-fit: contain;
    padding-top: 3rem;
}
@media screen and (max-width: 575px) {
    .carousel{
        padding-top: 4rem;
    }
}