* {
    margin: 0;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .logo {
    width: 8rem;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem 1rem; */
    border-bottom: 1px solid #b9b9b9;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #f7f7f7;
    color: black;
    overflow: hidden;
  }
  .navbar-container{
    display: flex;
    flex-direction: column;
  }
  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    color: black;
  }
  .navbar-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .label-top{
    margin-top: 3rem;
  }
  .firstSlide {
    background: #ffdd00;
    padding: 6px 0;
    font-size: 14px;
    line-height: 18px;
    color: #1d1d1d;
    text-align: center;
    width: 100%;
  }
  .secondSlide{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    padding: 0.5rem;
  }
  .secondSlide-icon{
    margin-left: 3rem;
    margin-right: 1rem 
  }
  .link-item {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.125rem;
    color: black;
  
  }
  
  .signin-btn {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(0, 179, 255);
    color: #fff;
    cursor: pointer;
  }
  
  .productsList-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
  }

  li{
    list-style: none;
  }
  .product-name{
    font-size:small;
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #sign-button{
    cursor: pointer;
  }
  input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    border: 1px solid black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
 
  .main-container-section{
    display: flex;
  }
  
  .navbar-wishlist {
    margin: 1rem;
  }
  .navbar-cart {
    margin: 1rem;
  }

  .search-results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex-direction: column;
    padding-top: 3rem;
  }

  .search-button{
    border: none;
  }
  .search-bar{
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
  }
  .search-input{
    border-radius: none;
  }

  .profile-p{
    font-weight: 600;
  }
  .profile-icon{
    margin: 1rem;
    cursor: pointer;
  }
  #checkout-main{
    padding-top: 3rem;
  }

  @media screen and (max-width: 575px) {
    .navbar {
      flex-direction: column;
      display: flex;
    }
    .nav-links {
        display: none;
    }
  
    .link-item {
        display: none;   
    }
    .navbar-wishlist,
    .navbar-cart {
        display: flex;
      margin-left: 0;
    }
    .navbar-container2{
      display: flex;
    }
    .search-bar{
      display: none;
    }
    #nav-link{
      display: flex;
    }
    .form-section{
      margin-top: 10rem;
    }
    .firstSlide{
      font-size: 12px;
    }
    .secondSlide{
      padding: 0.5rem;
    }
    #checkout-main{
      padding-top: 3rem;
    }
  }